.table_style{
    border-collapse: collapse;
    // padding: 0;
    .string{
        padding: 0;
        background-color: blue;
        .field_my{
            
            margin: 0px;
            border: 1px solid black;
            
            background-color: whitesmoke;
            
        }
    }
}




