.table_style{
    border-collapse: collapse;
    // padding: 0;
    border: 2px solid rgb(180, 180, 180);
    background-color: whitesmoke;
    .string{
        padding: 0;
        background-color: blue;
        .field_my{
            margin: 0px;
        }
    }
}
.table_head{
    border: 2px solid rgb(180, 180, 180);
    background-color: whitesmoke;
}
.table_body{
    border: 2px solid rgb(180, 180, 180);
    background-color: whitesmoke;
}



