@import '../vars';

.tpm{
    display: flex;
    flex-direction: column;
    padding: 10;
    width: 100%;
    height: 100%;
    // background-color: #0000ff;
}
.upperContainer{
    display: flex;
    // background-color: #ff0000;
    flex-direction: row;
    justify-content: space-between;
}
.mainContainer{
    // background-color: #00ff00;
    display: flex;
    flex:1;
    flex-direction: column;
}
.searchStyle{
    width: 200px;
    height: 25px;
    border-radius: 90px;
    padding-left: 5px;
    border-color: rgba($color: #000000, $alpha: 0);
    margin-right: 30px;
}
.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.dateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textDateContainer{
    display: flex;
}
.filterDateContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.textDate{
    font-size: 30px;
    margin-right: 20px;
}
.beforeDateContainer{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.afterDateContainer{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.textSearch{
    display: flex;
    align-items: center;
}
.searchContainerMain{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
}
.textDateS{
    font-size: 30px;
}
.textDatePo{
    font-size: 30px;
}
.filterContainer{
    display: flex;
    flex: 1;
}
.tableContainer{
    display: flex;
    flex:9;
}
.tableTable{
    margin: 5px;
}
.buttonDate{
    width: 190px;
    height: 35px;
    margin: 5px;
    border-color: rgba($color: #000000, $alpha: 0);
    transition-property: background-color;
    transition-duration: 0.4s;
    font-size: large;
    &:hover{
        background-color: gray;
    }
    &:active{
        background-color: gainsboro;
    }
}

.table{
    background-color: black;
    color: black;
    height: 650px;
    width: 1460px;
    position: absolute;
    display: block;
}
.tableBody{
    border: 0px solid black;
    color: black;
}
.tableHead{
    border: 0px solid black;
    color: white;
    width:'1784px';
}
td{
    height: 60px;
    width: 350px;
    border: 0px;
    display:'flex';
    align-items:'center';
    justify-content:'center';
}
.btnn{
    height: 100px;
    width: 350px;
    color: #000000;
    font-size: large;
    border-color: rgba($color: #000000, $alpha: 0);
    transition-property: background-color;
    transition-duration: 0.4s;
    &:hover{
        background-color: gainsboro;
    }
    &:active{
        background-color: gray;
    }
}
.p{
    font-size: large;
}
.buttonEx{
    width: 100px;
    height: 55px;
    margin-left: 40px;
    margin-top: 12px;
    font-size: large;
}
.myModel{
    margin: 100px;
    border: 3px solid #000000;
    border-radius: 50px 0px 0px 0px;
    max-height: 700px;
    padding: 40px;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
}
.excelLabel{
    font-size: larger;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.excelInput{
    border: 0px solid #000000;
    border-radius: 50px;
    width: fit-content;
    height: 30px;
    margin-top: 13px;
    padding: 5px;
}
.modalButton{
    color: #000000;
    font-size: large;
    border-color: rgba($color: #000000, $alpha: 0);
    transition-property: background-color;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    &:hover{
        background-color: gray;
    }
    &:active{
        background-color: gainsboro;
    }
}